<form method="POST" action="/signup">
    Email:
    <input type="email" name="email" id="email" required>
    Password:
    <input type="password" name="password" id="password" required>
    <input type="submit" name="Submit">
</form>